# Ignore Python virtual environment
venv/
  
# Ignore Python cache directories and files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Git directories and files
.git/

# Ignore Fly.io configuration file if you don't need it in the Docker image
fly.toml
